header #headerLogo {
	width: 25px;
	height: auto;
}

#searchInHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -200px;
  width: 200px;
  height: 25px;
}
#searchButtonInHeader{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: 0px;
  width: 75px;
  height: 25px;
}
#backToTopFooter {
	position: relative;
	float: right;
}

#aboutUsFooter {
	position: relative;
}
