header #headerLogo {
	width: 25px;
	height: auto;
}

header #searchInHeader {
	position: relative;
  margin-left:25%
}

#backToTopFooter {
	position: relative;
	float: right;
}

#aboutUsFooter {
	position: relative;
}
