body {
	margin-bottom: 40px;
}

header #headerLogo {
	width: 25px;
	height: auto;
}

#searchInHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -200px;
  width: 200px;
  height: 25px;
}
#searchButtonInHeader{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: 0px;
  width: 75px;
  height: 25px;
}
#backToTopFooter {
	position: relative;
	float: right;
}

#aboutUsFooter {
	position: relative;
}

footer {
	
	bottom: 0;
	width: 100%;
	height: 40px;
}

#sidebarEveryPage{
	float: left;
	width: 250px;
	border: 5px solid red;
}
#loginBody {
    background-image: url(Images/logo.jpg);
}
#loginBody div h1{
    margin-left: auto;
    margin-right: auto;
}