.pageMainContent {
	position: relative;
	width: calc(100% - 250px);
	float: right;
	height: 87vh;
	margin-bottom: 60px;
	overflow-y: scroll;
    margin-top: 10px;
}

.manageScrollBox {
	position: relative;
	max-height: 35vh;
	overflow-y: scroll;
}

.myThreadTitle{
    font-size: 200%;
}

.threadContent{
    margin-bottom: 15px;
    margin-top: 15px;
}

#profilePicture{
     float: left;
}

.formPadding{
    padding-bottom: 10px;
    padding-top: 10px;
}