.pageMainContent {
	position: relative;
	width: calc(100% - 250px);
	float: right;
	height: 87vh;
	margin-bottom: 40px;
	overflow-y: scroll;
}

.manageScrollBox {
	position: relative;
	max-height: 35vh;
	overflow-y: scroll;
}