<!DOCTYPE html>
<footer class="navbar navbar-inverse navbar-fixed-bottom">
	<link rel="stylesheet" type="text/css" href="~/Content/FrameStyleSheet.css">
	<div class="container">
		<span id="aboutUsFooter" class="bottom">
			@Html.ActionLink("About Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</span>
		<span id="backToTopFooter">
			@Html.ActionLink("FAQ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</span>
	</div>
</footer>
