<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Stoker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!--<li>@@Html.ActionLink("Front Page", "Index", "Home")</li>-->
                <li>
                    <a href='@Url.Action("Index", "Home")'>
                        <img style="width:25px; height:auto;" src='@Url.Content("~/Content/Images/Stoker-logo.png")' />
                    </a>
                </li>
				<!--<li>@@Html.ActionLink("About", "About", "Home")</li>
				<li>@@Html.ActionLink("Contact", "Contact", "Home")</li>-->
			</ul>
            <div class="nav navbar-nav">
                <input id="searchInHeader" type="search" class="form-control" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" />
                <input id="searchButtonInHeader" type="submit" value="Search" />
            </div>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>