@model Stoker.Models.ViewModel
<nav class="navbar-left" id="sidebarEveryPage">
    <!--<link href="~/Content/SidebarStyleSheet.css" rel="stylesheet" />-->
    <div>
        <h3>Interests</h3>
        <ul>
            @*foreach (var m in Model.interests)
            {
                <li>@Html.ActionLink(@m.name, "InterestViewController", @m.interestID)</li>
            }*@
        </ul>
    </div>
    <div>
        <h3>Groups</h3>
        <ul>
            @*foreach(var m in Model.groups)
            {
                <li><a>@m.title</a></li>
            }*@
        </ul>
    </div>
</nav>