@model Stoker.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("HeaderPartialView")
<div class="jumbotron">
    <h1>SOMETHING COOL</h1>
</div>

<div class="row">
    <div class="col-md-6">
       @Html.Partial("NewsFeedPartial")
    </div>
   
</div>