@model Stoker.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
		Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}


@Html.Partial("HeaderPartialView")

<div class="jumbotron">
    <h1>SOMETHING COOL</h1>
</div>

<div class="row">
    <div class="col-md-8">
       @Html.Partial("NewsFeedPartial")
    </div>
   
</div>