@model Stoker.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
		
}

@section JavaScript
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Likes.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/NewsFeed.js")"></script>
}

@Html.Partial("HeaderPartialView")

<div class="row">
    <div class="col-md-8">
        <div id="filterByDiv">
            <span>
                <label id="filterByLabel">Filter threads by: </label>
                <select name="filterBy" id="filterBy">
                    <option value="0">All</option>  
                    <option value="1">Groups you are following</option>
                    <option value="2">Interests you are following</option>
                    <option value="3">Friends</option>
                </select>
            </span>
        </div>
       @Html.Partial("NewsFeedPartial")
        
    </div>
   
</div>